:host{
    display:block;
}

.profile-page{
    display:flex;
    flex-direction:column;
    gap:25px;
}

/* CARDS */

.profile-card,
.details-card,
.password-card{

    background:#fff;
    border-radius:20px;
    padding:30px;

    box-shadow:0 2px 15px rgba(0,0,0,.05);
}

/* PROFILE */

.profile-header{

    display:flex;
    align-items:center;
    gap:20px;
}

.profile-header img{

    width:110px;
    height:110px;

    border-radius:50%;
    object-fit:cover;

    border:4px solid #dce8f7;
}

.profile-header h2{
    color:#222;
    margin-bottom:5px;
}

.profile-header span{
    color:#777;
}

.photo-btn{

    margin-top:25px;

    border:none;

    background:#dce8f7;
    color:#4F7FB5;

    padding:12px 18px;

    border-radius:10px;

    cursor:pointer;
}

/* HEADER */

.card-header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:25px;
}

.edit-btn{

    border:none;

    background:#4F7FB5;
    color:#fff;

    padding:12px 18px;

    border-radius:10px;

    cursor:pointer;
}

/* FORM */

.form-grid,
.password-grid{

    display:grid;
    grid-template-columns:repeat(2,1fr);

    gap:20px;
}

.form-group label{

    display:block;
    margin-bottom:8px;

    color:#555;
    font-weight:600;
}

.form-group input{

    width:100%;
    height:50px;

    border:1px solid #ddd;
    border-radius:12px;

    padding:0 15px;

    outline:none;
}

.form-group input:focus{
    border-color:#4F7FB5;
}

/* ACTIONS */

.actions{

    display:flex;
    justify-content:flex-end;

    gap:10px;

    margin-top:30px;
}

.cancel-btn,
.save-btn{

    border:none;

    padding:12px 20px;

    border-radius:10px;

    cursor:pointer;
}

.cancel-btn{
    background:#eee;
}

.save-btn{
    background:#4F7FB5;
    color:#fff;
}

/* MOBILE */

@media(max-width:768px){

    .profile-header{
        flex-direction:column;
        text-align:center;
    }

    .card-header{
        flex-direction:column;
        gap:15px;
        align-items:flex-start;
    }

    .form-grid,
    .password-grid{
        grid-template-columns:1fr;
    }

    .actions{
        flex-direction:column;
    }

    .cancel-btn,
    .save-btn{
        width:100%;
    }

}