.login-container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#005baa,#0f172a);

}

.login-card{

width:380px;

background:white;

padding:40px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.2);

}

.logo{

text-align:center;

margin-bottom:30px;

}

.logo lucide-icon{

width:40px;

height:40px;

color:#005baa;

}

.logo h2{

margin-top:10px;

}

.logo p{

font-size:12px;

color:gray;

}

.input-group{

margin-bottom:20px;

}

.input-group label{

font-size:14px;

}

.input-box{

display:flex;

align-items:center;

border:1px solid #ddd;

padding:10px;

border-radius:8px;

margin-top:5px;

}

.input-box input{

border:none;

outline:none;

flex:1;

padding-left:10px;

}

.btn-login{

width:100%;

padding:12px;

background:#005baa;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

transition:.3s;

}

.btn-login:hover{

background:#003f7d;

}

.footer-text{

text-align:center;

margin-top:15px;

font-size:12px;

color:gray;

}