nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,.05);
position:sticky;
top:0;
z-index:100;
}

ul{

display:flex;
list-style:none;
gap:30px;
}

.login-btn{

background:#005baa;
padding:10px 20px;
border:none;
color:white;
border-radius:8px;
cursor: pointer;
}

.report-btn{
    background:#0eaa00;
padding:10px 10px;
cursor: pointer;
border:none;
color:white;
border-radius:8px;
margin: 0 6px;
}