<div class="wrapper">

    <!-- =====================================================
         MOBILE OVERLAY
    ====================================================== -->

    <div
        class="overlay"
        *ngIf="mobileSidebar"
        (click)="toggleMobileSidebar()">
    </div>


    <!-- =====================================================
         SIDEBAR
    ====================================================== -->

    <aside
        class="sidebar"

        [class.collapsed]="sidebarCollapsed"

        [class.mobile-open]="mobileSidebar">


        <!-- LOGO -->

        <div class="logo-area">

            <img
                src="/img/favicon-tr.png"
                alt="ZECO">


            <div
                *ngIf="!sidebarCollapsed">

                <div class="brand">

                    <h6>
                        zeco help desk
                    </h6>

                </div>

                <span>
                    Supervisor
                </span>

            </div>

        </div>


        <!-- MENU -->

        <ul>


            <!-- DASHBOARD -->

            <li
                routerLink="dashboard"
                routerLinkActive="active"
                (click)="toggleMobileSidebar()">

                <i class="fa-solid fa-gauge"></i>

                <span
                    *ngIf="!sidebarCollapsed">

                    Dashboard

                </span>

            </li>


            <!-- TECHNICIANS -->

            <li
                routerLink="technicians"
                routerLinkActive="active"
                (click)="toggleMobileSidebar()">

                <i class="fa-solid fa-user-gear"></i>

                <span
                    *ngIf="!sidebarCollapsed">

                    Technicians

                </span>

            </li>


            <!-- INCIDENTS -->

            <li
                routerLink="incidents"
                routerLinkActive="active"
                (click)="toggleMobileSidebar()">

                <i class="fa-solid fa-bolt"></i>

                <span
                    *ngIf="!sidebarCollapsed">

                    Incidents

                </span>

            </li>


            <!-- NOTIFICATIONS -->

            <li
                routerLink="notifications"
                routerLinkActive="active"
                (click)="toggleMobileSidebar()">

                <i class="fa-regular fa-bell"></i>

                <span
                    *ngIf="!sidebarCollapsed">

                    Notifications

                </span>

            </li>


            <!-- PROFILE -->

            <li
                routerLink="profile"
                routerLinkActive="active"
                (click)="toggleMobileSidebar()">

                <i class="fa-solid fa-user"></i>

                <span
                    *ngIf="!sidebarCollapsed">

                    Profile

                </span>

            </li>


            <!-- LOGOUT -->

            <li
                class="logout-item"
                (click)="logout()">

                <i
                    class="fa-solid fa-right-from-bracket">
                </i>

                <span
                    *ngIf="!sidebarCollapsed">

                    Logout

                </span>

            </li>

        </ul>

    </aside>


    <!-- =====================================================
         MAIN CONTENT
    ====================================================== -->

    <div class="main-content">


        <!-- =================================================
             TOPBAR
        ================================================== -->

        <header class="topbar">


            <!-- LEFT -->

            <div class="left">


                <!-- MOBILE -->

                <button
                    class="mobile-btn"
                    (click)="toggleMobileSidebar()">

                    <i class="fa-solid fa-bars"></i>

                </button>


                <!-- DESKTOP -->

                <button
                    class="desktop-btn"
                    (click)="toggleSidebar()">

                    <i class="fa-solid fa-bars"></i>

                </button>


            </div>


            <!-- RIGHT -->

            <div class="right">


                <!-- DATE -->

                <div class="top-date">

                    <i
                        class="fa-regular fa-calendar">
                    </i>

                    <span>
                        {{ today | date:'dd MMM yyyy' }}
                    </span>

                </div>


                <!-- NOTIFICATIONS -->

                <button
                    class="notification-btn">

                    <i
                        class="fa-regular fa-bell">
                    </i>

                </button>


                <!-- USER -->

                <div class="user">

                    <img
                        src="/img/sup.jfif"
                        alt="Supervisor">


                    <div>

                        <h4>
                            Supervisor
                        </h4>

                        <small>
                            ZECO Staff
                        </small>

                    </div>

                </div>

            </div>

        </header>


        <!-- =================================================
             CHILD PAGES
        ================================================== -->

        <div class="page-content">

            <router-outlet></router-outlet>

        </div>

    </div>

</div>