:host{
    display:block;
}

.dashboard-page{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.page-header h2{
    color:#222;
}

.page-header p{
    color:#777;
    margin-top:5px;
}

.summary-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.summary-card{
    background:#fff;
    padding:22px;
    border-radius:18px;
    display:flex;
    align-items:center;
    gap:16px;
    box-shadow:0 2px 15px rgba(0,0,0,.05);
}

.summary-card h3{
    margin:0 0 5px;
    font-size:1.8rem;
    color:#222;
}

.summary-card span{
    color:#777;
    font-size:.9rem;
}

.summary-icon{
    width:52px;
    height:52px;
    border-radius:14px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.2rem;
}

.incidents{
    background:#fdeaea;
    color:#d63031;
}

.progress{
    background:#eef5ff;
    color:#0063cc;
}

.resolved{
    background:#e7f8ec;
    color:#18874d;
}

.breached{
    background:#fff0f0;
    color:#d63031;
}

.high{
    background:#fdeaea;
    color:#d63031;
}

.medium{
    background:#fff6df;
    color:#b78200;
}

.low{
    background:#eef5ff;
    color:#0063cc;
}

.rate{
    background:#f3e9ed;
    color:#6D071A;
}

.charts-grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
}

.chart-card{
    background:#fff;
    padding:25px;
    border-radius:18px;
    box-shadow:0 2px 15px rgba(0,0,0,.05);
}

.chart-card h3{
    margin:0;
    color:#222;
}

.chart-card p{
    color:#777;
    margin:6px 0 20px;
}

.chart-container{
    height:330px;
    position:relative;
}

.chart-container.large{
    height:360px;
}

@media(max-width:992px){

    .summary-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .charts-grid{
        grid-template-columns:1fr;
    }

}

@media(max-width:576px){

    .summary-grid{
        grid-template-columns:1fr;
    }

}