/* Reset */
*{ box-sizing:border-box; }
html,body{ margin:0; padding:0; }

:root{
  --primary:#6D071A;       /* Burgundy */
  --primary-light:#8B1E32;
  --secondary:#E9DFC9;     /* Beige */
  --dark:#1E1E1E;
  --light:#FFFFFF;
  --gray:#F5F5F5;
  --text:#444;
}

